@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: #06113C;
        overflow-x: hidden;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #fff;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #06113C;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #06113C;
    }
}